p {
    color: $blue-88;
}

@include media-breakpoint-down(md) {
    h1 {
        font-size: 1.25rem;
    }
    h2 {
        font-size: 1.25rem;
    }
    h3 {
        font-size: 1.688rem;
    }
    p {
        font-size: .813rem;
        line-height: 1.25;
    }
}

@include media-breakpoint-between(md, xxl) {
    h2 {
        font-size: 1.5rem;
    }
}
