@import 'theme/theme';
.index {
    background-color: $white;
    main {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        .main-bg {
            position: relative;
            &::before {
                width: 100%;
                height: 100%;
                content: "";
                display: block;
                position: absolute;
                top: 0;
                background-image: url("../img/hero-bg.png");
                background-position: top center;
                background-repeat: no-repeat;
                z-index: -1;
                background-size: cover;
                @include media-breakpoint-up(xxl) {
                    background-image: url("../img/hero-bg-large.png");
                }
                @include media-breakpoint-down(md) {
                    background-image: url("../img/hero-bg-middle.png");
                }
                @include media-breakpoint-down(xs) {
                    background-image: url("../img/hero-bg-small.png");
                }
            }
        }
    }
}

.steps {
    .icon {
        @include media-breakpoint-down(lg) {
            transform: rotate(90deg);
        }
    }
}

.recaptcha-style {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    height: 10vh;
    @include media-breakpoint-down(md) {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        height: 7vh;
    }
}

.footer {
    padding: .75rem 0;
    &::before {
        width: 100%;
        height: 100%;
        content: "";
        display: block;
        position: absolute;
        background-position: bottom right;
        background-repeat: no-repeat;
        background-image: url("../img/head-decor.png");
        bottom: 0;
        z-index: -1;
    }
    @include media-breakpoint-down(lg) {
        background-color: rgba(255, 255, 255, .9);
        padding: .5rem 0;
    }
}
