.btn-info {
    color: $white;
    min-width: 9.75rem;
    &:focus,
    &:hover,
    &:active {
        box-shadow: none;
        color: $white;
        background-color: $blue-209;
    }
    @include media-breakpoint-down(md) {
        padding: .657rem 3rem;
        font-size: .75rem;
        min-width: 10rem;
    }
}

.btn-lg {
    padding: .938rem 3rem;
    font-size: 1.125rem;
    @include media-breakpoint-down(md) {
        padding: .625rem 3rem;
        font-size: .813rem;
    }
}
