.dropdown-toggle {
    font-weight: 300;
    font-size: .75rem;
    color: $white;
    padding: .625rem;
    border: none;
    &:focus,
    &:active,
    &.show,
    &:hover {
        color: $white!important;
        background-color: transparent!important;
        border: none;
    }
    &.show {
        &:after {
            transform: rotate(180deg);
        }
    }
}

.dropdown-menu {
    min-width: 0;
    background-color: $black-73;
    padding: .5rem 0;
    padding-right: .25rem;
    &.dropdown-style {
        ul {
            max-height: 7.25rem;
            overflow-y: auto;
            padding-left: 0;
            margin-bottom: 0;
            &.show {
                color: $white;
                background-color: $black-73;
                border: none;
            }
            .dropdown-item {
                font-weight: 300;
                color: $white;
                &.active,
                &:hover,
                &:focus {
                    color: $white;
                    background-color: $blue-112;
                    border-radius: .125rem;
                }
            }
        }
        ul::-webkit-scrollbar {
            width: .563rem;
        }
        ul::-webkit-scrollbar-track {
            background: $blue-121;
            border-radius: .25rem;
        }
        ul::-webkit-scrollbar-thumb {
            background: $blue-224;
            border-radius: .25rem;
        }
    }
}
