.form-control {
    border-top-left-radius: $border-radius!important;
    border-bottom-left-radius: $border-radius!important;
    border-left: 0!important;
    &::placeholder {
        color: $silver;
    }
    &:focus {
        box-shadow: none;
        border-color: transparent;
    }
    @include media-breakpoint-down(md) {
        border-top-left-radius: .25rem!important;
        border-bottom-left-radius: .25rem!important;
    }
}

.input-group-text {
    position: relative;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-right: 0!important;
    &::after {
        content: "";
        display: inline;
        width: .1rem;
        height: 1.75rem;
        background-color: $light-gray;
        border-radius: .188rem;
        position: absolute;
        top: .1rem;
        right: 0;
    }
}

.contact-form {
    .form-control {
        color: $gray;
        background-color: $light-255!important;
        border-radius: 0!important;
        border: none;
        &::placeholder {
            color: $gray;
        }
        &:focus {
            box-shadow: none;
        }
    }
    .invalid-feedback {
        padding-left: 0;
    }
}

.invalid-feedback {
    font-weight: 300;
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
    box-shadow: none;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    border-color: transparent;
    background-image: none;
}

.form-control.is-valid,
.was-validated .form-control:valid {
    border-color: transparent;
    background-image: none;
}

.invalid-feedback {
    text-align: start;
    padding-left: 3rem;
    margin-top: 0;
}

@include media-breakpoint-down(md) {
    .input-group-text {
        padding: .565rem .5rem;
    }
    .form-control {
        border: none;
        border-radius: .25rem;
        font-size: .75rem;
        padding: .565rem .5rem;
        &::placeholder {
            font-size: .75rem!important;
        }
    }
}
